*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 25px;
    place-content: center;
    place-items: center;
}

.circle{
    width: 120px;
    height: 120px;
    background-color: palevioletred;
    border-radius: 50%;
}